<section class="nz-banner">
    <div class="nz-container">
        <div class="nz-banner__img">
            <div class="nz-banner__img-shadow"></div>
            <div class="nz-banner__img__text">
                <h1>HTML5</h1>
                <h3>Another fine Responsive Site Template Freebie Crafted by Antonicaldu</h3>
                <a href="" class="nz-button red">ACTIVATE</a>
                <a href="" class="nz-srcoll-down">
                    <p>Learn More</p>
                </a>
            </div>
        </div>
    </div>
</section>
<app-info></app-info>
<app-artigo></app-artigo>
<app-cards></app-cards>
<app-fale-conosco></app-fale-conosco>







