<div class="nz-buttons-type">
    <div class="nz-container-mini">
        <strong>Buttons</strong>
        <a class="nz-button red">default</a>
        <a class="nz-button trans">default</a>
        <a class="nz-button trans large">default</a>
        <a class="nz-button trans">default</a>
        <a class="nz-button trans">default</a>
        <ul>
            <li>
                <a class="nz-button trans w-100">default</a>
            </li>
            <li>
                <a class="nz-button red w-100">default</a>
            </li>
            <li>
                <a class="nz-button trans w-100">default</a>
            </li>
        </ul>
        <ul>
            <li>
                <a class="nz-button red w-100">default</a>
            </li>
            <li>
                <a class="nz-button trans w-100">default</a>
            </li>
            <li>
                <a class="nz-button red w-100">default</a>
            </li>
        </ul>
        <a class="nz-button red icon">default</a>
        <a class="nz-button trans icon">default</a>
        <a class="nz-button red disable">default</a>
        <a class="nz-button trans disable">default</a>
    </div>
</div>
