<div class="nz-form">
    <div class="nz-container-mini">
        <strong>Form</strong>
        <ul>
            <li>
                <input type="text" placeholder="name">
            </li>
            <li>
                <input type="email" placeholder="email">
            </li>
        </ul>
        <select name="cars" id="cars">
            <option value="categoria">- Categoria -</option>
            <option value="fiat">Fiat</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </select>
        <ul class="radio">
            <li>
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Default radio
                </label>
            </li>
            <li>
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Default radio
                </label>
            </li>
            <li>
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Default radio
                </label>
            </li>
        </ul>
        <ul class="checkbox">
            <li>
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Default checkbox
                </label>
            </li>
            <li>
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Default checkbox
                </label>
            </li>
        </ul>
        <textarea name="" id="" cols="30" rows="10" placeholder="testão"></textarea>
        <a class="nz-button red">default</a>
        <a class="nz-button trans">default</a>
    </div>
</div>