<div class="nz-lists">
    <div class="nz-container-mini">
        <div class="row">
            <strong>list</strong>
            <div class="col-lg-6">
                <b>unorded</b>
                <ul>
                    <li>oi</li>
                    <li>oi</li>
                    <li>oi</li>
                </ul>
                <b>alternate</b>
                <ul class="alternate">
                    <li>oi</li>
                    <li>oi</li>
                    <li>oi</li>
                </ul>
                <a class="nz-button red">default</a>
                <a class="nz-button trans">default</a>
            </div>
            <div class="col-lg-6">
                <b>orderd</b>
                <ol>
                    <li>oi</li>
                    <li>oi</li>
                    <li>oi</li>
                    <li>oi</li>
                    <li>oi</li>
                </ol>
                <b>icons</b>
                <div class="nz-icons">
                    <i></i>
                    <i></i>
                    <i></i>
                    <i></i>
                </div>
                <a class="nz-button red w-100">default</a>
                <a class="nz-button trans w-100">default</a>
            </div>
        </div>
        <hr>
    </div>
</div>