
.nz-pre {
    strong {
        font-size: 16px;
        text-transform: uppercase;
        margin-bottom: 12px;
        display: block;
    }
    pre {
        background-color: rgb(245, 245, 245);
        padding-top: 12px;
    }
}
