.nz-blockquote {
    strong {
        font-size: 16px;
        text-transform: uppercase;
        margin-bottom: 12px;
        display: block;
    }
    blockquote {
        margin-left: 36px;
        text-transform: italic;
        font-size: 14px;
        color: rgb(102, 102, 102);
    }
}
