<div class="nz-table">
    <div class="nz-container-mini">
        <strong></strong>
        <p></p>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Descripiton</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Item One</td>
                    <td>Ante Turpis integer aliquet porttitor.</td>
                    <td>29.99</td>
                </tr>
                <tr>
                    <td>Item One</td>
                    <td>Ante Turpis integer aliquet porttitor.</td>
                    <td>29.99</td>
                </tr>
                <tr>
                    <td>Item One</td>
                    <td>Ante Turpis integer aliquet porttitor.</td>
                    <td>29.99</td>
                </tr>
                <tr>
                    <td>Item One</td>
                    <td>Ante Turpis integer aliquet porttitor.</td>
                    <td>29.99</td>
                </tr>
            </tbody>
            <tfoot>
                <td colspan="2"></td>
                <td>100.00</td>
            </tfoot>
        </table>
    </div>
</div>
