<section class="nz-cards">
    <div class="nz-container">
        <div class="nz-cards__list">
            <h2>Arcu Accumsan Tortor</h2>
            <p>Augue consecteur sed interdum imperdiet ei ipsum. Mauris Lorem tincidunt</p>
            <div class="row justify-content-center">
                <div class="col-4">
                    <div class="nz-cards__list__item bg-blue10">
                        <i class="bi bi-headphones"></i>
                        <h3>Arcu Accumsan</h3>
                        <p>Augue consecteur sed interdum imperdiet ei ipsum. Mauris Lorem tincidunt</p>
                    </div>
                    <div class="nz-cards__list__item bg-blue20">
                        <i class="bi bi-wrench"></i>
                        <h3>Arcu Accumsan</h3>
                        <p>Augue consecteur sed interdum imperdiet ei ipsum. Mauris Lorem tincidunt</p>
                    </div>
                    <div class="nz-cards__list__item bg-blue30">
                        <i class="bi bi-watch"></i>
                        <h3>Arcu Accumsan</h3>
                        <p>Augue consecteur sed interdum imperdiet ei ipsum. Mauris Lorem tincidunt</p>
                    </div>
                    <div class="nz-cards__list__item bg-blue40">
                        <i class="bi bi-upc-scan"></i>
                        <h3>Arcu Accumsan</h3>
                        <p>Augue consecteur sed interdum imperdiet ei ipsum. Mauris Lorem tincidunt</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="nz-cards__list__item bg-blue50">
                        <i class="bi bi-suit-spade"></i>
                        <h3>Arcu Accumsan</h3>
                        <p>Augue consecteur sed interdum imperdiet ei ipsum. Mauris Lorem tincidunt</p>
                    </div>
                    <div class="nz-cards__list__item bg-blue60">
                        <i class="bi bi-suit-club"></i>
                        <h3>Arcu Accumsan</h3>
                        <p>Augue consecteur sed interdum imperdiet ei ipsum. Mauris Lorem tincidunt</p>
                    </div>
                    <div class="nz-cards__list__item bg-blue50">
                        <i class="bi bi-suit-diamond"></i>
                        <h3>Arcu Accumsan</h3>
                        <p>Augue consecteur sed interdum imperdiet ei ipsum. Mauris Lorem tincidunt</p>
                    </div>
                    <div class="nz-cards__list__item bg-blue60">
                        <i class="bi bi-suit-heart"></i>
                        <h3>Arcu Accumsan</h3>
                        <p>Augue consecteur sed interdum imperdiet ei ipsum. Mauris Lorem tincidunt</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
