<section class="nz-artigo ">
    <div class="nz-container">
        <div class="row">
            <div class="col-md-4">
                <div class="nz-artigo__img"></div>
            </div>
            <div class="col-md-8 bg-gray10">
                <div class="nz-artigo__text">
                    <h2>Magna Primis Lobortis Sed Ullamcorper</h2>
                    <p>Magna Primis Lobortis Sed Ullamcorper Magna Primis Lobortis Sed Ullamcorper</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="nz-artigo invert">
    <div class="nz-container">
        <div class="row">
            <div class="col-md-4">
                <div class="nz-artigo__img"></div>
            </div>
            <div class="col-md-8 bg-gray20">
                <div class="nz-artigo__text">
                    <h2>Magna Primis Lobortis Sed Ullamcorper</h2>
                    <p>Magna Primis Lobortis Sed Ullamcorper Magna Primis Lobortis Sed Ullamcorper</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="nz-artigo ">
    <div class="nz-container">
        <div class="row">
            <div class="col-md-4">
                <div class="nz-artigo__img"></div>
            </div>
            <div class="col-md-8 bg-gray10">
                <div class="nz-artigo__text">
                    <h2>Magna Primis Lobortis Sed Ullamcorper</h2>
                    <p>Magna Primis Lobortis Sed Ullamcorper Magna Primis Lobortis Sed Ullamcorper</p>
                </div>
            </div>
        </div>
    </div>
</section>
