<section class="nz-fale-conosco">
    <div class="nz-container">
        <div class="nz-fale-conosco__grid">
            <div class="nz-fale-conosco__grid__text">
                <h2>Magna Primis Lobortis Sed Ullamcorper</h2>
                <p>Magna Primis Lobortis Sed Ullamcorper Magna Primis Lobortis Sed Ullamcorper</p>
            </div>
            <div class="nz-fale-conosco__grid__button">
                <a href="" class="nz-button red">ACTIVATE</a>
                <a href="" class="nz-button trans">ACTIVATE</a>
            </div>
        </div>
    </div>
</section>
